<div class="container-fluid">
    <div class="row mt-5">
        <div class="col">
            <div class="colmd-4">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="col-mb-3">
                                <h2 class="text-center text-dark">Welcome</h2>
                            </div>
                            <div class="mb-3">
                              <p class="text-muted">Un lien a été envoyé a votre email , veuillez le verifiez svp </p>
                            </div>

                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>